---

---

<div class="relative h-screen w-full overflow-hidden">
	<div class="absolute inset-0 z-10 m-0 flex items-center justify-center p-0">
		<video
			autoplay
			loop
			muted
			playsinline
			id="main-video"
			preload="metadata"
			class="h-full w-full object-cover object-center"
		>
			<source src="/TALENT-AND-CO-HERO-6.webm" type="video/webm" />
		</video>
	</div>
</div>

<script>
	document.addEventListener('astro:page-load', () => {
		const firstVideo = document.querySelector('#main-video') as HTMLMediaElement

		if (firstVideo) {
			const videos = document.querySelectorAll('.video') as NodeListOf<HTMLMediaElement>

			if (firstVideo.readyState >= 3) {
				videos.forEach((videoEl) => {
					videoEl.classList.remove('hidden')
					videoEl.classList.add('animate-fade')
				})

				return
			}

			firstVideo.addEventListener('loadeddata', () => {
				videos.forEach((videoEl) => {
					videoEl.classList.remove('hidden')
					videoEl.classList.add('animate-fade')
				})
			})
		}
	})
</script>
